*.env
*.pyc
*.ipynb_checkpoints
__pycache__/
*.csv
*drafts_file/
wandb/
logs/
inference_files/
output_inference/
checkpoints/
NNN_*
NWW_*
*.sh
logs_logger_flplan/*
logs_*/
active_learning_images/*
chapter1_exploringID/presentation/images/*
chapter1_exploringID/studies/*
*.json
*.out
*.parquet
*.npz
*.ckpt